<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>共通ヘッダー</title>
</head>
<body>
<header th:fragment="header" class="main-header">
    <nav>
        <div class="user-info">
            <span th:if="${session.user_name != null}">
                ようこそ、<span th:text="${session.user_name}"></span> さん
            </span>
            <span th:if="${session.user_name == null}">
                ゲストとしてログインしています
            </span>
        </div>

        <div>			
            <a th:href="@{/products/search?keyword}">商品一覧</a>
            <a th:href="@{/mypage}" th:if="${session.user_name != null}">マイページ</a>
            <a th:href="@{/login}" th:if="${session.user_name == null}">ログイン</a>
            <a th:href="@{/register}" th:if="${session.user_name == null}">新規登録</a>
            <a th:href="@{/logout}" th:if="${session.user_name != null}">ログアウト</a>
        </div>

    </nav>

<form th:action="@{/products/search}" method="get" class="search-form">
  <input type="text" name="keyword" placeholder="商品を検索">
  <select name="categoryId">
    <option value="">カテゴリを選択</option>
    <option th:each="cat : ${categories}" th:value="${cat.categoryId}" th:text="${cat.categoryName}"></option>
  </select>
  <button type="submit" class="search-btn">検索</button>
</form>

</header>
</body>
</html>
