<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>注文詳細</title>
</head>
<body>
<h1>購入確認画面</h1>

<h2>注文商品一覧</h2>
<table border="1">
  <thead>
    <tr><th>価格</th><th>数量</th><th>小計</th></tr>
  </thead>
  <tbody>
    <tr th:each="item : ${order.orderItems}">
        <td th:text="${item.price}">価格</td>
        <td th:text="${item.quantity}">数量</td>
        <td th:text="${item.price * item.quantity}">小計</td>
    </tr>
  </tbody>
</table>

<p>合計金額: <span th:text="${order.totalAmount}"></span> 円</p>

<p><a th:href="@{/cart/cart_detail}">カートに戻る</a></p>

</body>
</html>
