<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入詳細画面</title>
</head>
<body>
<h1>購入詳細画面</h1>

<form th:action="@{/order/purchase}" method="post">
  <fieldset>
    <legend>お届け先情報</legend>
    <label>名前：<input type="text" name="name" required></label><br>
    <label>住所：<input type="text" name="address" required></label><br>
    <label>アパート名：<input type="text" name="apartment"></label><br>
  </fieldset>

  <fieldset>
    <legend>支払情報</legend>
    <label>カード番号：<input type="text" name="payment" required></label><br>
  </fieldset>

  <br>
  <button type="submit">確認</button>
</form>

</body>
</html>
