<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>購入確認</title>
</head>
<body>
    <h1>購入確認画面</h1>

<p>お名前：<span th:text="${name}"></span></p>
<p>住所：<span th:text="${address}"></span></p>
<p>アパート名：<span th:text="${apartment}"></span></p>
<p>支払い情報：<span th:text="${payment}"></span></p>

<h2>購入商品</h2>
<ul>
    <li th:each="cart : ${cartProducts}">
        商品名：<span th:text="${cart.product.name}"></span> /
        数量：<span th:text="${cart.quantity}"></span>
    </li>
</ul>
<p>合計金額：<span th:text="${totalPrice}"></span> 円</p>
    <a href="/">トップページへ戻る</a>
</body>
</html>
